nav{
    position: relative;
    background-color: lightgrey;
    padding-bottom: 85px;
}

.nav-menu{
 
    padding: 50px;
   margin: 5px 220px;
    display: flex;
    font-size: 30px;
    list-style: none;

}

.nav-menu li a{
        
        color: brown;
        text-decoration: none;
        text-align: center;
        margin: 0 50px;
      
}
.nav-menu li:hover{
 background-color: lavender;
 padding: 2px 4px;
 border: 1px solid green;
 border-radius: 5px;

 
}
nav>ul>li:hover >ul{
    display: block;
   margin-top: 5px;
}
.dropdown{
    display: none;
 position: absolute;

}
.dropdown li {
   
    list-style: none;
}
.dropdown a{
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
   

}
.blog-item{
    max-width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 50px;
    border: 3px solid rgb(252, 157, 140);
    border-radius: 10px;
}
h1{
    text-align: center;
   margin-top: 200px;
    text-decoration:underline;
    
}

h2{
    font-size: 25px;
}
span{
    font-size: 22px;
    font-weight: lighter;
}
#footer{
    background-color:black;
    padding: 10px;
    margin-top: 40px;
    color: white;
    font-size: 30px;
}
p{
    text-align: center;
}